{% extends 'base.html.twig' %}

{% block title %}Liste des tâches
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
{% endblock %}

{% block body %}
	<p>{{ 'listing.message' | trans }}</p>
	<div class="container mt-5">
		<a href="{{ path('task_create') }}" class="btn btn-primary">Ajouter</a>
		<table class="table table-striped tabled-bordered" id="tasksTable">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th>Date de début</th>
				<th>Date Effective</th>
				<th>Catégorie</th>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				{% if tasks is defined %}
					{% for task in tasks %}
						<tr>
							<th scope="row">{{ task.id }}</th>
							<td>{{ task.name }}</td>
							<td>{{ task.startAt | date('d/m/Y H:i') }}</td>
							<td>{{ task.dueAt | date('d/m/Y H:i') }}</td>
							<td>{{ task.tag.name }}</td>
							<td>
								<a href="{{ path('task_mail' , {'id' : task.id })}}" class="btn btn-outline-primary">Send</a>
							</td>
							<td>
								<a href="{{ path('task_update', {'id': task.id })}}" class="btn btn-success">Update</a>
							</td>
							<td>
								<a href="{{ path('task_delete', {'id': task.id })}}" class="btn btn-danger">Delete</a>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#tasksTable').DataTable();
});
	</script>
{% endblock %}
