<!DOCTYPE HTML>
{% block title %}Voici votre tâche :
{% endblock %}
{% block stylesheets %}
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/
								dt/dt-1.10.21/datatables.min.css"/>
{% endblock %}
{% block body %}
	<div class="container mt-5">
		<table class="table table-striped tabled-bordered" id="tasksTable">
			<thead>
				<th>{{ 'general.form.id' | trans }}</th>
				<th>{{ 'general.form.name' | trans }}</th>
				<th>{{ 'general.form.tag' | trans }}</th>
				<th>{{ 'general.form.description' | trans }}</th>
				<th>{{ 'general.form.startAt' | trans }}</th>
				<th>{{ 'general.form.dueAt' | trans }}</th>
			</thead>
			<tbody>
				{% if task is defined %}
					<tr>
						<th scope="row">{{ task.id }}</th>
						<td>{{ task.name }}</td>
						<td>{{ task.tag.name }}</td>
						<td>{{ task.description}}</td>
						<td>{{ task.startAt | date('d/m/Y H:i') }}</td>
						<td>{{ task.dueAt | date('d/m/Y H:i') }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}
